body {
    font-family: 'Noto Sans';
    margin: 0;
    background-color: rgb(101, 140, 212);
}

nav {
    background-color: crimson;

}

nav ul {
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    font-weight: 600;
}